@charset "UTF-8";

/* PARA CELULAR */ 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(17, 17, 17);
}

h1 {
    text-align: center;
    position: relative;
    top: 150px;
    color: white;
}

div#pedro {
    background-image: url(./mo.PNG);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 90px;
    height: 100px;
 
    transition: transform 0.3s ease;
}

div#pedro:hover {
    transform: translate(-50%, -60%);
}

.people {
    color: rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
}

div#visitante{
    background-image: url(./profile.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 33%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 100px;
 
    transition: transform 0.3s ease;
}
div#visitante:hover {
    transform: translate(-50%, -60%);
}
.visitor {
    color: rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(-50%, 300%);
}
div#valentine{
    background-image: url(./valentine.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 100px;
 
    transition: transform 0.3s ease;
}
div#valentine:hover {
    transform: translate(-50%, -60%);
}
.amo {
    color: rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, 300%);
}

div#perfis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    padding: 5px;
    border: 1px solid rgb(105, 105, 105);
    background-color: black;
    color: rgb(105, 105, 105);
    height: 20px;
    width: 150px;
    text-align: center;
    margin: 5px white;
    @charset "UTF-8";

/* Estilos para dispositivos móveis */

@media only screen and (max-width: 600px) {
    h1 {
        top: 50px;
    }

    div#pedro {
        top: 30%;
        width: 70px;
        height: 80px;
    }

    div#pedro:hover {
        transform: translate(-50%, -55%);
    }

    .people {
        top: 45%;
        transform: translate(-50%, 250%);
    }

    div#visitante {
        top: 30%;
        right: 30%;
        width: 70px;
        height: 80px;
    }

    div#visitante:hover {
        transform: translate(-50%, -55%);
    }

    .visitor {
        top: 45%;
        right: 32%;
        transform: translate(-50%, 250%);
    }

    div#valentine {
        top: 30%;
        left: 35%;
        width: 70px;
        height: 80px;
    }

    div#valentine:hover {
        transform: translate(-50%, -55%);
    }

    .amo {
        top: 45%;
        left: 35%;
        transform: translate(-50%, 250%);
    }

    div#perfis {
        top: 45%;
        transform: translate(-50%, 280%);
        height: 40px;
        width: 200px;
        font-size: 12px;
    }
}

}
